<div class="col-md-8">
	<table class="table table-striped">
    	<thead>
      		<tr>
        		<th>Task Name</th>
        		<th>Number of Questions</th>
        		<th> Created on </th>
        		<th>Action</th>
      		</tr>
    	</thead>
    	<tbody>
    		<% @tasks.each do |task| %>
                <% show_link = link_to task['name'], "tasks/show/#{task['namespace']}" %>
                <% pack_link = link_to "pack", "tasks/pack/#{task['namespace']}" %>
    			<%= "<tr> 
    				<td>#{show_link}</td>
    				<td>#{task['number_of_questions']}</td>
    				<td>#{task['creation_time'].in_time_zone}</td>
    				<td>#{pack_link} | <a href='#'>delete</a></td>
    			</tr>".html_safe %>
    		<% end %>
    	</tbody>
  	</table>
</div>
<div class="col-md-4">
<%= render 'form' %>
</div>